body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f9;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.tooltip-trigger:hover .tooltip-content {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}